In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [21]:
#loading the dataset to a Pandas DataFrame

fraud_ = pd.read_csv("C:\\Users\\Sanjeev  Sharma\\Desktop\\Fraud.csv")

In [22]:
fraud_.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [23]:
fraud_.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
1048570,95,CASH_OUT,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,0
1048571,95,PAYMENT,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,0
1048572,95,PAYMENT,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,0
1048573,95,PAYMENT,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,0
1048574,95,PAYMENT,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,0

In [24]:
fraud_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
step              1048575 non-null int64
type              1048575 non-null object
amount            1048575 non-null float64
nameOrig          1048575 non-null object
oldbalanceOrg     1048575 non-null float64
newbalanceOrig    1048575 non-null float64
nameDest          1048575 non-null object
oldbalanceDest    1048575 non-null float64
newbalanceDest    1048575 non-null float64
isFraud           1048575 non-null int64
isFlaggedFraud    1048575 non-null int64
dtypes: float64(5), int64(3), object(3)
memory usage: 88.0+ MB

In [26]:
#checking the number of missing values in each column
fraud_.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [28]:
#distribution of legit transactions & fraudulent transactions
fraud_['oldbalanceOrg'].value_counts()

0.00           342214
109.00            167
195.00            161
147.00            160
141.00            159
                ...
107114.32           1
156608.00           1
10954282.32         1
729977.50           1
27507476.35         1
Name: oldbalanceOrg, Length: 415945, dtype: int64

This Dataset is Highly Unbalanced

0 --> Normal Transaction
1 --> Fraudulent Transaction

In [29]:
#separating the data for analysis
legit = fraud_[fraud_.oldbalanceOrg == 0]
fraud = fraud_[fraud_.oldbalanceOrg == 1]

In [30]:
print(legit.shape)
print(fraud.shape)

(342214, 11)
(57, 11)

In [31]:
#statistical measures of the data
legit.amount.describe()

count    3.422140e+05
mean     1.709756e+05
std      2.885944e+05
min      1.000000e-01
25%      1.184820e+04
50%      7.419249e+04
75%      2.184018e+05
max      5.860863e+06
Name: amount, dtype: float64

In [32]:
fraud.amount.describe()

count        57.000000
mean     103118.529825
std      115672.628703
min        1168.280000
25%       12491.570000
50%       51790.190000
75%      168226.140000
max      437983.860000
Name: amount, dtype: float64

In [34]:
#compare the values for both transactions
fraud_.groupby('amount').mean()

,step,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
amount,,,,,,,
0.10,17.000000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.0,0.0
0.14,40.000000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.0,0.0
0.20,42.000000,5.738810e+05,5.738808e+05,0.000,0.000000e+00,0.0,0.0
0.26,45.000000,2.423850e+05,2.423847e+05,0.000,0.000000e+00,0.0,0.0
0.30,13.000000,1.748006e+05,1.748003e+05,0.000,0.000000e+00,0.0,0.0
...,...,...,...,...,...,...,...
9345700.07,88.000000,9.345700e+06,0.000000e+00,4461030.215,9.133880e+06,1.0,0.0
9465988.82,35.000000,9.465989e+06,0.000000e+00,0.000,4.732994e+06,1.0,0.0
9887819.06,33.000000,9.887819e+06,0.000000e+00,400956.975,5.082600e+06,1.0,0.0
9977761.05,46.000000,9.977761e+06,0.000000e+00,0.000,4.988881e+06,1.0,0.0
10000000.00,54.285714,1.271591e+07,2.715909e+06,68529.420,5.052815e+06,1.0,0.0

Under-Sampling:

Build a sample dataset containing similar distribution of Normal Transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [35]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames:

In [36]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [37]:
new_dataset.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
824967,41,TRANSFER,601884.31,C1581786713,0.0,0.0,C1232579010,2541014.23,3142898.54,0,0
198186,13,TRANSFER,685652.08,C521959510,0.0,0.0,C1624477723,5239551.92,6453881.16,0,0
107168,10,CASH_OUT,35628.77,C128152295,0.0,0.0,C1347294617,1504513.19,1540141.96,0,0
44585,9,PAYMENT,8489.66,C155879359,0.0,0.0,M140771514,0.00,0.00,0,0
633386,35,PAYMENT,418.79,C1139969983,0.0,0.0,M1830667392,0.00,0.00,0,0

In [38]:
new_dataset.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
1015322,47,PAYMENT,7104.81,C1847663798,1.0,0.0,M1761542354,0.0,0.0,0,0
1015377,47,PAYMENT,1168.28,C674471060,1.0,0.0,M227873398,0.0,0.0,0,0
1021280,47,PAYMENT,5958.48,C1288288967,1.0,0.0,M1494806322,0.0,0.0,0,0
1022650,47,PAYMENT,4214.16,C751318458,1.0,0.0,M1716656254,0.0,0.0,0,0
1036389,94,PAYMENT,8414.81,C151816795,1.0,0.0,M999212208,0.0,0.0,0,0

In [52]:
new_dataset['amount'].value_counts()

53371.28     1
61687.02     1
99674.85     1
57225.48     1
4129.99      1
            ..
29018.33     1
12505.27     1
7587.20      1
193667.88    1
11721.55     1
Name: amount, Length: 549, dtype: int64

In [53]:
new_dataset.groupby('amount').mean()

,step,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
amount,,,,,,,
99.96,12,0.0,0.0,0.00,0.00,0,0
141.14,8,0.0,0.0,0.00,0.00,0,0
266.76,36,0.0,0.0,2592189.83,2592456.59,0,0
418.79,35,0.0,0.0,0.00,0.00,0,0
514.11,40,0.0,0.0,0.00,0.00,0,0
...,...,...,...,...,...,...,...
1650105.17,13,0.0,0.0,3150492.21,4800597.38,0,0
1778021.48,11,0.0,0.0,13745654.38,15523675.86,0,0
1815824.10,48,0.0,0.0,5236794.92,7052619.02,0,0
1999955.90,47,0.0,0.0,2354175.21,4354131.11,0,0
2943850.49,9,0.0,0.0,3002183.48,6465797.75,0,0

Splitting the data into Features and Targets

In [62]:
X = new_dataset.drop(columns='oldbalanceOrg', axis=1)
Y = new_dataset['oldbalanceOrg']

In [64]:
print(X)

         step      type     amount     nameOrig  newbalanceOrig     nameDest  \
824967     41  TRANSFER  601884.31  C1581786713             0.0  C1232579010
198186     13  TRANSFER  685652.08   C521959510             0.0  C1624477723
107168     10  CASH_OUT   35628.77   C128152295             0.0  C1347294617
44585       9   PAYMENT    8489.66   C155879359             0.0   M140771514
633386     35   PAYMENT     418.79  C1139969983             0.0  M1830667392
...       ...       ...        ...          ...             ...          ...
1015322    47   PAYMENT    7104.81  C1847663798             0.0  M1761542354
1015377    47   PAYMENT    1168.28   C674471060             0.0   M227873398
1021280    47   PAYMENT    5958.48  C1288288967             0.0  M1494806322
1022650    47   PAYMENT    4214.16   C751318458             0.0  M1716656254
1036389    94   PAYMENT    8414.81   C151816795             0.0   M999212208

         oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
824967       2541014.23      3142898.54        0               0
198186       5239551.92      6453881.16        0               0
107168       1504513.19      1540141.96        0               0
44585              0.00            0.00        0               0
633386             0.00            0.00        0               0
...                 ...             ...      ...             ...
1015322            0.00            0.00        0               0
1015377            0.00            0.00        0               0
1021280            0.00            0.00        0               0
1022650            0.00            0.00        0               0
1036389            0.00            0.00        0               0

[549 rows x 10 columns]

In [63]:
print(Y)

824967     0.0
198186     0.0
107168     0.0
44585      0.0
633386     0.0
          ...
1015322    1.0
1015377    1.0
1021280    1.0
1022650    1.0
1036389    1.0
Name: oldbalanceOrg, Length: 549, dtype: float64

Train and Testing Split

In [65]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [66]:
print(X.shape, X_train.shape, X_test.shape)

(549, 10) (439, 10) (110, 10)